# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
/bin/

# Test binary
*.test

# Output directory
/backend/backend
/backend/bin

# Dependency directories
vendor/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Environment files
.env
.env.local

# Frontend
/frontend/node_modules
/frontend/dist

coverage.out